:root {
  --img-width: 100px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  margin-top: 50px;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 20px;
  border: 5px solid black;
  border-radius: 15px;
  margin-bottom: 50px;
}
.cart__header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.cart__header > * {
  justify-self: baseline;
}

.cart__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto;
  align-items: center;
  width: 100%;
  height: 10%;
  margin: 10px 0px;
  border-top: 1px solid black;
}

.cart__item > * {
  justify-self: baseline;
}

.cart__item-img > img {
  width: var(--img-width);
  object-fit: cover;
  cursor: pointer;
}
.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-empty__title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.cart__item-delete {
  background-color: rgb(230, 45, 45);
  color: white;
  border-radius: 50%;
  border: 2px black solid;
  height: 40px;
  width: 40px;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.quantity_modifier {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.quantity_modifier > input[type="submit"] {
  color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 1em;
  height: 30px;
  width: 30px;
  transition: 0.3s;
}

.quantity_modifier > input[type="submit"]:hover {
  transform: scale(1.05);
  filter: brightness(110%);
}

.quantity_modifier > input[type="text"] {
  border: none;
  width: 10px;
}

.quantity_modifier > input[value="-"] {
  background-color: rgb(214, 93, 93);
}

.quantity_modifier > input[value="+"] {
  background-color: rgb(64, 187, 64);
}

/* media query to make car vertical */
